* {
    box-sizing: border-box;
  }
  body, html {
    height: 100%;
  }
  main{
    padding-bottom: 100px;
  }

li{
    list-style-type: none;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    border-top-style: solid;
    border-top-color: lightskyblue;
}

.footer{
    display: flex;
    justify-content: space-around;
}
nav{
    display: flex;
    justify-content: center;
    background-color:  #9bc1e4;
    border-bottom: 10px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.filter{
    color: rgb(65, 197, 72);
    opacity: 0;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.filter:hover{
    opacity: 1;
}