  
li{
    list-style-type: none;
}
footer{
    background-color: rgb(155, 193, 228);
    border-top: 4px solid black;
    padding-bottom: 2px;
    line-height: 1;
}

.footer{
    display: flex;
    justify-content: space-around;
}
nav{
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    border-bottom: 10px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}